<p>
  <strong><%= t('.belongs_to') %></strong>
  <%= @shift.timesheet.date_from %> to <%= @shift.timesheet.date_to %>
</p>

<p>
  <strong><%= t('.date') %></strong>
  <%= @shift.date %>
</p>

<p>
  <strong><%= t('.start_time') %></strong>
  <%= @shift.start_time %>
</p>

<p>
  <strong><%= t('.end_time') %></strong>
  <%= @shift.end_time %>
</p>

<p>
  <strong><%= t('.paid') %></strong>
  <%= @shift.paid %>
</p>

<p>
  <% if @shift.clock_in? %>

    <strong><%= t('.clock_in') %></strong>
        <%= @shift.clock_in %>
    <strong><%= t('.clock_out') %></strong>
        <%= @shift.clock_out %>

  <% else %>
    <%= t('.no_clock')%>
  <% end %>
</p>

<%= link_to t('edit'), edit_shift_path(@shift) %> |
<%= link_to t('back'), shifts_path %>
