<p><%= "Dear #{t('app_title')}," %></p>
<p><%= "Please could you help me with this issue?" %></p>

<dl>
    <dt>Name:</dt>
    <dd><%= @name %></dd>
    <dt>Email:</dt>
    <dd><%= @email %>
    <dt>Contact number:</dt>
    <dd><%= @telephone %>
</dl>

<p><%= @message %></p>

<p>Thank you,</p>
<p><%= @name %>
