<p id="notice"><%= notice %></p>

<p>
  <strong>Date from:</strong>
  <%= @timesheet.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @timesheet.date_to %>
</p>

<p>
  <%= link_to t('.add_shift'), new_shift_path(timesheet_id: @timesheet) %>
</p>

<%= link_to t('edit'), edit_timesheet_path(@timesheet) %> |
<%= link_to t('back'), timesheets_path %>
