<p id="notice"><%= notice %></p>

<p>
  <strong>Date from:</strong>
  <%= @timesheet.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @timesheet.date_to %>
</p>

<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |
<%= link_to 'Back', timesheets_path %>
